<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>Twitter archive search</title>
  <link rel="stylesheet" href="css/app.css"/>
  <script src="lib/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="TweetListCtrl">
	<h1>Twitter archive search</h1>
	<form ng-submit="search()">
		<input type="search" ng-model="query">
	</form>
	<hr>
	<h2>Results</h2>
	<ul>
		<li ng-repeat="tweet in tweets">
			{{tweet.text}}
		</li>
	</ul>
</body>
</html>
