<!doctype html>
<html lang="en" ng-app="tweetArchive">
<head>
  <meta charset="utf-8">
  <title>Twitter archive search</title>
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>
  <script src="/static/lib/angular/angular.js"></script>
  <script src="/static/js/app.js"></script>
  <script src="/static/js/controllers.js"></script>
</head>
<body ng-controller="TweetSearchCtrl">
	<div class="container">
		<h1>Twitter archive search</h1>
		<form class="form-search" ng-submit="search()">
			<input type="search" class="search-query" ng-model="query" autofocus>
			<button type="submit" class="btn">Search</button>
		</form>
		<div ng-show="error">Error: {{error}}</div>
		<div ng-show="lastQuery">
			<hr>
			<h2>Searched for {{lastQuery | lowercase}}</h2>
			<p>{{tweets.length}} <span ng-pluralize count="tweets.length" when="{one: 'result', other: 'results'}"></span>.</p>
			<ul>
				<li ng-repeat="tweet in tweets">
					{{tweet.text}}
					<a ng-href="https://twitter.com/paulsmith/status/{{tweet.id}}">view tweet</a>
					{{tweet.timestamp | date:shortDate }}
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
